/* .header-wrapper {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.header-title {
  font-size: 16px;
  font-weight: bold;
  color: #121212;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-back-btn {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}
.header-right {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
} */

.header-wrapper {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center; /* 제목 중앙 정렬 */
  padding: 0 16px;
  /* border-bottom: 1px solid #eee; */
  background-color: #fff;
  width: 100%; /* 전체 너비 사용 */
  max-width: 480px; /* 모바일 기준 */
  margin: 0 auto; /* 가운데 정렬 */
}

.header-title {
  font-size: 16px;
  font-weight: bold;
  color: #121212;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* 줄바꿈 방지 */
}

.header-back-btn {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.header-right {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-setting-btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  color: #121212;
}

.header-back-placeholder {
  width: 24px;
  height: 24px;
}
